<%- include('../partials/header') %>
<h1>MY TASK LISTS</h1>
    <table id="list">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <% taskLists.forEach(function(t) { %>
            <tr id="one-list-container">
              <td><%= t.title %></td>
              <td><%= t.listDate %></td>
              <td><a href="/tasklists/<%= t._id %>/">DETAILS:</a></td>
              <td>  
                  <div class="button" id="button-3">
                    <div id="circle"></div>
                    <a class="delete-button" href="">X</a>
                </div>
                </td>
            </tr>
            <% }); %>
          </tbody>
        </table>


<%- include('../partials/footer') %>