<%- include('../partials/header') %>

<h1><i class="far fa-list-alt"></i> <%= tasklist.title %></h1>
  <h3><i class="fal fa-calendar"></i> <%= new Date(tasklist.listDate).toLocaleDateString() %></h3>
  <br>
<a class="details" href="/tasklists"><i class="far fa-chevron-left"></i>
  BACK TO ALL TASKLISTS</a>
<div class="add-task-container">
<form action="/tasklists/<%= tasklist._id %>/tasks" method="POST">
  <div id="add-task-section">
    <label id="add-task-label" for="">ADD A TASK:</label>
    <textarea id="add-task-content" name="content" rows="2" cols="30" placeholder="Add task here..."></textarea>
  </div>
  <div id="important" class="align-right">
  </div>
    <div class="align-right">
    <input id="add-task-btn" class="submit-button" type="submit" value="ADD TASK">
  </div>
  </form>
</div>
    <h1>TASKS</h1>
  
  <% if (tasklist.tasks.length) { %>
        <% tasklist.tasks.forEach(function(t) { %>
            <div id="one-list-container">
              <div class="title-container">
                <div class="list-title"><i class="fal fa-arrow-right"></i> <%= t.content %></div>
              </div>
            <!-- <div id="important-label"><small id="important-label">IMPORTANT: </small> <%= t.important ? 'YES' : 'NO' %></div> -->
            <div class="details-delete">
              <div class="details-container">
                <!-- <div class="space-between"><a class="details" href="">NOTES</a></div> -->
                <div class="space-between"><a class="details" href="/tasks/<%= t._id%>/edit">EDIT</a></div>
                <form class="space-between" action="/tasklists/<%= t._id %>/tasks?_method=DELETE" id="delete-button" method="POST">
                <button class="delete-button" type="submit">DELETE</button>
                </form>
              </div>
            </div>
              </div>
          </div>
        <% }); %>
  <% } else { %>
    <h6>No Tasks Yet</h6>
  <% } %>




<%- include('../partials/footer') %>