<%- include('../partials/header') %>

<section id="tasks-details">

  <h1><%= tasklist.title %></h1>
  <h3><%= tasklist.listDate %></h3>
</section>
<div id="add-task-container">
<form action="/tasklists/<%= tasklist._id %>/tasks" method="POST">
  <div id="add-task-section">
    <label id="add-task-label" for="">ADD A TASK:</label>
    <textarea id="add-task-content" name="content" rows="2" cols="30" placeholder="Add task here..."></textarea>
  </div>
    <label id="important-label" for="">IMPORTANT?:</label>
    <input type="checkbox" name="important">
    <div class="align-right">
    <input class="submit-button" type="submit" value="ADD TASK">
  </div>
  </form>
</div>
  <br>
    <div>TASKS: </div>
  
  <% if (tasklist.tasks.length) { %>
        <% tasklist.tasks.forEach(function(t) { %>
            <div id="one-list-container">
            <td><%= t.content %></td>
            <td><small>IMPORTANT:</small> <%= t.important ? 'YES' : 'NO' %></td>
            <td><a href="/tasklists/<%= tasklist._id %>/<%= t._id %>/notes/new">NOTES:</a></td>
            <td>  
                <div class="button" id="button-3">
                  <div id="circle"></div>
                  <a class="delete-button" href="">X</a>
              </div>
              </td>
          </div>
        <% }); %>
  <% } else { %>
    <h5>No Tasks Yet</h5>
  <% } %>




<%- include('../partials/footer') %>