<%- include('../partials/header') %>
<h1><i class="far fa-list-alt"></i> <%= tasklists.title %></h1>
<h3><i class="fal fa-calendar"></i> <%= new Date(tasklists.listDate).toLocaleDateString() %></h3>
<br>
<a class="details" href="/tasklists/<%= tasklists._id %>"><i class="far fa-chevron-left"></i>
BACK TO TASK LIST</a>
<div class="add-task-container">
   <form action="/tasks/<%= tasklists.taskId %>?_method=PUT" method="POST">
      <div id="add-task-section">
         <label id="add-task-label" for="">EDIT TASK:</label>
         <textarea id="add-task-content" name="content" rows="2" cols="30" placeholder="Add task here..."><%=  %></textarea>
      </div>
      <div id="important" class="align-right">
      </div>
      <div class="align-right">
         <input id="add-task-btn" class="submit-button" type="submit" value="EDIT TASK">
      </div>
   </form>
</div>
<%- include('../partials/footer') %>